[submodule "thirdParty/jquery"]
	path = thirdParty/jquery
	url = https://github.com/jquery/jquery.git
[submodule "thirdParty/jasmine"]
	path = thirdParty/jasmine
	url = https://github.com/pivotal/jasmine.git
[submodule "wiki"]
	path = wiki
	url = https://code.google.com/p/jquery-tsv.wiki/
[submodule "tools/jsdoc"]
	path = tools/jsdoc
	url = https://github.com/jsdoc3/jsdoc.git
